@font-face {
   font-family: "Ogg Roman";
   src: url("../static/fonts/Ogg_Roman.woff") format("woff");
}

@font-face {
   font-family: "Ogg Italic";
   src: url("../static/fonts/Ogg_Italic.woff") format("woff");
}